.site-wrap {
  overflow-x: hidden;
  position: relative;
  // TODO change pixel value when height of footer is known;
  // Footer height = 100px
  min-height: calc(
    100vh - 100px
  ); // Height of the footer based on content and padding rules
}
