{% extends "layouts/base.njk" %} 
{% set pageCriticalStyles = ['css/home.css'] %}

{% block content %}

	<article class="home">
		<div class="[ home__content ] [ flow ]">
			<h1 class="home__title">{{ home.title }}</h1>
			<h2 class="home__subtitle">{{ home.subtitle }}</h2>
			<p class="home__cta">{{ home.cta }}</p>
			<a href="{{ home.buttonUrl }}" class="button">{{ home.buttonText }}</a>
		</div>
	</article>

{% endblock %}	