{% extends "layouts/base.njk" %} 
{% set pageCriticalStyles = ['css/home.css'] %}
{# {% set bodyClass = 'page-home bg bg--home home-video--load' %} #}
{% set bodyClass = 'page-home bg bg--home' %}
{# {% set pageID = 'page-home' %} #}
{# {% set pageScript = '/js/home-video.js' %} #}

{% block content %}

{# <div id="home-video-wrapper"></div> #}

<div class="wrapper">

	<article class="home">

		<div class="[ home__content ] [ flow ] [ line-break--xl ]">
			<span class="home__intro font-header-light weight-light">{{ home.intro | safe }}</span>
			<h1 class="home__title font-header-light weight-light">{{ home.title | safe  }}</h1>
			<h2 class="home__subtitle font-header-light weight-light">{{ home.subtitle  | safe }}</h2>
			<p class="home__cta font-header-light">{{ home.cta  | safe }}</p>
			{# <p class="home__cta font-header-light">
        {% set linkURL= "/contact" %}
        {% set linkText = "Get in touch" %}
        {% set linkStyle = "font-header-med style-italic" %}
        {% include "partials/link.njk" %}
			  and tell us what you’re looking for.
			</p> #}
		</div>

	</article>

</div>

{% endblock %}