{% extends "layouts/base.njk" %} 
{% set pageCriticalStyles = ['css/home.css'] %}
{% set pageBG = 'bg bg--home' %}

{% block content %}
<div class="wrapper">
	<article class="home">
		<div class="[ home__content ] [ flow ] [ line-break--xl ]">
			<h1 class="home__title font-header-reg">{{ home.title | safe  }}</h1>
			<h2 class="home__subtitle font-header-reg">{{ home.subtitle  | safe }}</h2>
			<p class="home__cta font-header-reg">{{ home.cta  | safe }}</p>
		</div>
	</article>
</div>
{% endblock %}	