{% extends "layouts/base.njk" %} 

{% set pageHeaderTitle = title %} 
{% set pageHeaderSummary = content %} 
{% set peopleItems = collections.people %} 

{% block content %}

  <article>
    {% include "partials/page-header.njk" %} 
  </article>

  {% if peopleItems %} 
    <div class="[ no-js-hidden ] [ panel ]">
      <div class="[ wrapper ] [ flow flow-space-700 ]">
        {% include "partials/people.njk" %}
      </div>
    </div>
  {% endif %}

  {% include "partials/cta.njk" %}

{% endblock %}