{% extends "layouts/base.njk" %} 
{% set pageCriticalStyles = ['css/work.css'] %}
{% set bodyClass = 'page-work-landing bg bg--work-landing' %}
{% set pageHeaderTitle = title %} 
{% set pageHeaderSummary = content %} 
{% set cloudURL = "https://res.cloudinary.com/curiousways/image/upload" %}
{% set cloudQ = "q_60" %}

{% block content %}

  <article>
    {% include "partials/page-header.njk" %}
  </article>

  <article class="[ work-featured ]">

    <div class="[ wrapper ]">
      <h2
        class="[ work-featured__heading ] [ lg:measure-micro ]"
      >
        {{ featuredWork.title }}
      </h2>
    </div>
  
    {% for item in collections.featuredWork %}
  
      <div class="[ wrapper ]">
        <a
          href="{{ item.url }}"
          aria-label="See {{ item.data.title }}"
          class="[ featured-work__item ]"
        >






          <img
            src="{{ item.data.heroFeatured.image }}"
            alt="{{ item.data.heroFeatured.imageAlt }}"
            loading="lazy"
          />





  
        </a>
      </div>
  
      {% set pageHeaderTitle = item.data.workTitle %} 
      {% set pageHeaderSummary = "" %} 
      {% set workDetailsSummary = item.data.workQuote %}
      {% set workDetailsCo = item.data.workQuoteSource %}
      {% set workDetailsURL = item.data.workURL %}
      {% set workDetailsSite = item.data.workWeb %}
      {% set workServices = item.data.servicesList %}
      {% include "partials/work-details.njk" %}
  
      <div class="[ wrapper ]">
        <div class="work-featured__button">
          {% set btnURL= item.url %}
          {% set btnText= "View project" %}
          {% include "partials/button.njk" %}
        </div>
      </div>
  
    {% endfor %}

  </article>

  <div class="[ panel ]">
    <div class="wrapper">
      <article class="[ work-listing ]">
        {% for item in collections.work %}
        <figure class="[ work-listing__item ] [ flow ]">
          <div class="[ work-listing__media ]">
            <a href="{{ item.url }}">
              <picture>
                <!-- Small screens -->
                  <!-- WebP -->
                <source 
                  srcset="
                  {{ cloudURL }}/c_scale,w_439/{{ cloudQ }}/{{ item.data.hero.image }}.webp 439w, 
                  {{ cloudURL }}/c_scale,w_878/{{ cloudQ }}/{{ item.data.hero.image }}.webp 2x" 
                  media="(min-width: 0) and (max-width: 499px)" type="image/webp">
                <!-- JPG -->
                <source 
                  srcset="{{ cloudURL }}/c_scale,w_439/{{ cloudQ }}/{{ item.data.hero.image }}.jpg 439w, 
                  {{ cloudURL }}/c_scale,w_878/{{ cloudQ }}/{{ item.data.hero.image }}.jpg 2x" 
                  media="(min-width: 0) and (max-width: 499px)" type="image/jpeg">
          
                <!-- Medium screens -->
                  <!-- WebP -->
                <source 
                  srcset="{{ cloudURL }}/c_scale,w_710/{{ cloudQ }}/{{ item.data.hero.image }}.webp 710w,
                  {{ cloudURL }}/c_scale,w_1420/{{ cloudQ }}/{{ item.data.hero.image }}.webp 2x" 
                  media="(min-width: 500px) and (max-width: 767px)" type="image/webp">
                <!-- JPG -->
                <source 
                  srcset="{{ cloudURL }}/c_scale,w_710/{{ cloudQ }}/{{ item.data.hero.image }}.jpg 710w, 
                  {{ cloudURL }}/c_scale,w_1420/{{ cloudQ }}/{{ item.data.hero.image }}.jpg 2x" 
                  media="(min-width: 500px) and (max-width: 767px)" type="image/jpeg">
          
                <!-- Large screens -->
                  <!-- WebP -->
                <source 
                  srcset="{{ cloudURL }}/c_scale,w_500/{{ cloudQ }}/{{ item.data.hero.image }}.webp 500w, 
                  {{ cloudURL }}/c_scale,w_1000/{{ cloudQ }}/{{ item.data.hero.image }}.webp 2x"
                  media="(min-width: 768px)" type="image/webp">
                  <!-- JPG -->
                  <source 
                  srcset="{{ cloudURL }}/c_scale,w_500/{{ cloudQ }}/{{ item.data.hero.image }}.jpg 500w, 
                  {{ cloudURL }}/c_scale,w_1000/{{ cloudQ }}/{{ item.data.hero.image }}.jpg 2x"
                  media="(min-width: 768px)" type="image/jpeg">
                
                <!-- Fallback / properties -->
                <img src="{{ cloudURL }}/c_scale,w_1000/{{ cloudQ }}/{{ item.data.hero.image }}.jpg" 
                  alt="{{ imageAlt }}"
                  aria-hidden="true"
                  lazy="true"
                >
              </picture>
            </a>
          </div>
          <figcaption class="[ work-listing__content ] [ flow ]">
            <h2 class="[ work-listing__heading text-500 ]">
              {{ item.data.workTitle }}
            </h2>
            <p class="[ work-listing__summary ] [ measure-short ]">
              {{ item.data.workSummary }}
            </p>
            {% set btnURL= item.url %}
            {% set btnText= "View project" %}
            {% include "partials/button.njk" %} 
          </figcaption>
        </figure>
        {% endfor %}
      </article>
    </div>
  </div>

{% endblock %}