{% extends "layouts/base.njk" %}  
{% set pageCriticalStyles = ['css/work.css'] %}
{% set workServices = servicesList %}

{% block content %}

<section class="work-item">

  {% include "partials/work-details.njk" %}

  {% include "partials/work-gallery.njk" %}

  {% include "partials/work-pagination.njk" %}
  
</section>

{% endblock %}