{% extends "layouts/base.njk" %} 
{% set pageCriticalStyles = ['css/work.css'] %}
{% set bodyClass = 'page-work-landing bg bg--work-landing' %}
{% set pageHeaderTitle = title %} 
{% set pageHeaderSummary = content %} 

{% block content %}

  <article class="visually-hidden">
    {% include "partials/page-header.njk" %}
  </article>

  <div class="[ panel ]">
    <div class="wrapper">
      <article class="[ work-listing ]">
        {% for item in collections.work %}
        <figure class="[ work-listing__item ] [ flow ]">
          <div class="[ work-listing__media ]">
            <a
              href="{{ item.url }}"
              aria-label="See {{ item.data.title }}"
            >
              {% include "partials/work-img--landing.njk" %}
            </a>
          </div>
          <figcaption class="[ work-listing__content ] [ flow ]">
            <h2 class="[ work-listing__heading text-500 ]">
              {{ item.data.workTitle }}
            </h2>
            <p class="[ work-listing__summary ] [ measure-short ]">
              {{ item.data.workSummary }}
            </p>
            {% set linkURL= item.url %}
            {% set linkText = "View Project" %}
            {% set linkClass = "font-header-med text-500" %}
            {% include "partials/link.njk" %}
          </figcaption>
        </figure>
        {% endfor %}
      </article>
    </div>
  </div>

{% endblock %}