{% extends "layouts/base.njk" %}  
{% set pageCriticalStyles = ['css/work-item.css'] %}
{% set pageHeaderTitle = title %} 

{% block content %}

<section class="work-item">

  {% include "partials/page-header.njk" %}

  {% include "partials/work-details.njk" %}

  {% include "partials/work-gallery.njk" %}
  
</section>

{% endblock %}