.btn {
  font-size: get-size("500");
  @include apply-utility("font", "header-med");
  position: relative;
  display: inline-block;
  color: get-color("black");
  text-decoration: none;
  overflow: hidden;
  padding-bottom: 10px;

  &:after {
    content: "";
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    display: block;
    position: absolute;
    background: linear-gradient(270deg, #1dd5e1 0%, #7361f5 101.08%);
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transform: translateX(-100%);
    transition: transform 275ms ease;
    &::before {
      display: inline-block;
      content: attr(data-content);
      color: get-color("purple");
      transform: translateX(100%);
      transition: transform 275ms ease;
    }
  }
  &:hover {
    span {
      transform: translateX(0);
      &::before {
        transform: translateX(0);
      }
    }
  }
}
