.nav {
  @include apply-utility("font", "header-reg");
  margin-top: -#{get-size("400")};

  &__list {
    display: flex;
    flex-wrap: wrap;
    font-size: get-size("500");

    > * {
      margin-inline-start: get-size("500");

      @media (min-width: 700px) {
        margin-inline-start: get-size("800");
      }
    }
  }
}
