.page-header {
  margin: get-size('800') auto;
  background-color: yellow;

  &__summary {
    @include apply-utility('font', 'header-light');
    font-size: get-size('400');

    @include media-query('md') {
      font-size: get-size('500');
    }
  }
}