.site-head {
  .wrapper {
    padding: get-size("900") get-size("600");

    @include media-query("md") {
      padding: get-size("900") get-size("800");
    }
  }

  &__inner {
    height: 50px; // to account for hiding the logo on the homepage
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__brand {
    display: block;
    flex-shrink: 0;
    margin-inline-end: get-size("600"); // Prevents nav bunching up to the logo

    svg {
      max-width: 180px;

      @media (min-width: 330px) {
        max-width: 200px;
      }

      @media (min-width: 420px) {
        max-width: 100%;
      }
    }
  }
}
