.site-foot {
  background-color: get-color("cream");
  padding: get-size("500") 0;
  margin-top: get-size("400");

  a {
    transition: var(--link-trans);
    text-decoration: none;
  }

  a:hover {
    color: get-color("orange");
  }

  &__inner {
    @include media-query("md") {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    &__contacts {
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        > * + * {
          margin-top: get-size("300");
        }
  
        @include media-query("tiny") {
          > * + * {
            margin-left: var(--flow-space, get-size("600"));
            margin-top: 0;
          }
  
          display: flex;
          flex-wrap: wrap;
        }
      } 
    }

    &__social {
      margin-top: get-size("600");

      @include media-query("md") {
        margin-top: 0;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        margin: 0;
        padding: 0;

        > * + * {
          margin-left: get-size("300");
        }
      }

      svg {
        transition: var(--link-trans);
        fill: get-color("black");
      }

      svg:hover {
        fill: get-color("orange");
      }
    }
  }
}
