.site-head {
  padding: get-size('900') 0 0;
  position: relative;
  z-index: 1; // adjusting for intro video

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__brand {
    flex-shrink: 0;
    margin-inline-end: get-size('600'); // Prevents nav bunching up to the logo
    transform: translateX(-2rem);
    
    img {
      display: block;
    }
  }

  &__nav {
    padding: get-size('300') 0;
  }

  @include media-query('md') {
    &__brand {
      svg {
        width: 160px;
      }
    }
  }
}