.site-head {
  max-width: 70rem;
  margin: auto;
  padding: get-size("900") get-size("300") 0;

  @include media-query("md") {
    padding: get-size("900") get-size("800");
  }

  @include media-query("xl") {
    max-width: 75rem;
  }

  position: relative;
  z-index: 1; // adjusting for intro video

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__brand {
    flex-shrink: 0;
    margin-inline-end: get-size("600"); // Prevents nav bunching up to the logo
    // transform: translateX(-2rem);

    @include media-query("xl") {
      transform: translateX(get-size("700"));
    }

    img {
      display: block;
      height: 58px;
      width: 245px;

      @include media-query("lg") {
        height: 73px;
        width: 307px;
      }
    }
  }

  &__nav {
    padding: get-size("300") 0;
    margin-left: auto;
  }
}
