.work-pagination {
  margin-top: get-size("major");
  margin-bottom: get-size("major");

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media-query("md") {
      flex-direction: row;
    }

    a {
      @include apply-utility("font", "header-light");
      font-size: get-size("600");
      text-decoration: none;
    }

    small {
      display: block;
      margin-bottom: get-size("300");
    }

    &__prev {
      order: 1;
      @include media-query("md") {
        order: 0;
      }
    }

    &__next {
      order: 0;
      margin-bottom: get-size("800");

      @include media-query("md") {
        margin-top: 0;
        order: 1;
        text-align: right;
      }
    }

    .links-pagination a {
      @media (max-width: 25em) {
        font-size: get-size("500");
      }
    }
  }
}
