.work-details {
  @include media-query("md") {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  &__intro {
    margin: 0 0 get-size("700");

    @include media-query("md") {
      font-size: get-size("500");
      max-width: 55ch;
    }
  }

  &__about {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 1rem;

    @include media-query("md") {
      grid-template-columns: 50% 50%;
      grid-gap: 2rem 1rem;
    }
  }

  &__services {
    grid-row-start: 1;
    margin-bottom: get-size("500");

    @include media-query("md") {
      grid-column-start: 2;
      grid-row-start: 1;
      margin-bottom: 0;
    }

    ul {
      @media (min-width: 450px) {
        max-width: 400px;
      }
      @include media-query("sm") {
        column-count: 2;
      }

      @include media-query("lg") {
        margin-left: get-size("800");
        margin-right: get-size("800");
      }

      font-size: get-size("300");
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
      list-style: none;

      li {
        display: block;
        line-height: 1.5;
        @include media-query("lg") {
          padding-right: 2rem;
        }
      }
    }
  }

  &__quote {
    position: relative;
    p {
      @include media-query("md") {
        padding-right: get-size("800");
      }
    }

    &:before {
      @include apply-utility("font", "header-med");
      content: "\201C";
      color: get-color("purple");
      font-size: 40px;
      position: absolute;
      left: -1.4rem;
      top: -0.5rem;
      line-height: 1;

      @include media-query("md") {
        left: -2rem;
        font-size: 50px;
      }
    }
  }

  &__company {
    @include media-query("md") {
      grid-row-start: 2;
      grid-column-start: 1;
    }
  }

  &__website {
    @include media-query("md") {
      grid-row-start: 2;
      grid-column-start: 2;
    }

    a:link,
    a:visited {
      @include media-query("lg") {
        margin-left: get-size("800");
      }
      @include apply-utility("font", "header-med");
      text-decoration: none;
    }
    color: get-color("purple");
    display: block;
  }
}
