.work-pagination {
  margin-top: get-size("major");
  margin-bottom: get-size("major");

  &__items {
    @include media-query("md") {
      display: flex;
      justify-content: space-between;
    }

    a {
      @include apply-utility("font", "header-light");
      font-size: get-size("600");
      text-decoration: none;
    }

    small {
      display: block;
      margin-bottom: get-size("300");
    }

    &__next {
      margin-top: get-size("800");

      @include media-query("md") {
        margin-top: 0;
        text-align: right;
      }
    }

    .links-pagination a {
      @media (max-width: 25em) {
        font-size: get-size("500");
      }
    }
  }
}
