.work-gallery {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 75rem;

  img {
    margin: auto;
    box-shadow: var(--box-shadow);

    @include media-query("sm") {
      margin: 0 get-size("400");
    }
  }

  &__content {
    text-align: center;

    @include media-query("sm") {
      padding: 0 get-size("400");
    }

    @include media-query("lg") {
      text-align: left;
    }
  }

  &__heading {
    background: get-color('orange');
    color: #fff;
    padding: 0.5rem;
    display: inline-block;
  }
}
