.work-gallery {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 75rem;

  &__item {
    &--half {
      max-width: 38rem;
      align-self: flex-end;
    }

    &--double {
      --gap: 0.5rem;
      display: flex;
      justify-content: space-between;
      margin-left: calc(var(--gap) * -1);
      margin-right: calc(var(--gap) * -1);

      .work-gallery__media {
        margin: 0 var(--gap);
      }

      .work-gallery__content {
        margin-left: var(--gap);
      }
    }
  }

  &__content {
    margin-top: get-size("300");
  }
}
