@font-face {
  font-family: "Aribau Grotesk";
  src: url("AribauGrotesk.woff2") format("woff2"),
       url("AribauGrotesk.woff") format("woff");
}

@font-face {
  font-family: "Blacker Pro Med";
  src: url("BlackerProMed.woff2") format("woff2"),
       url("BlackerProMed.woff") format("woff");
}

@font-face {
  font-family: "Blacker Pro Reg";
  src: url("BlackerProReg.woff2") format("woff2"),
       url("BlackerProReg.woff") format("woff");
}

@font-face {
  font-family: "Blacker Pro Light";
  src: url("BlackerProLight.woff2") format("woff2"),
       url("BlackerProLight.woff") format("woff");
}