// First up: config and functions
@import "config";

// Set Gorko to output no CSS for this file
$outputTokenCSS: false;

// Next: pull in gorko for design tokens
@import "../../node_modules/gorko/gorko.scss";

// Pull in blocks
@import "blocks/address";

.contacts {
  &__list {
    font-size: get-size("600");

    a {
      text-decoration: none;
    }
  }

  &__locations {
    display: flex;
    flex-direction: column;
    margin-top: get-size("800");

    > * + * {
      margin-top: get-size("600");
    }

    @include media-query("md") {
      flex-direction: row;
      max-width: 50ch;

      > * + * {
        margin-top: 0;
      }

      > * {
        flex: 1 0 auto;
      }
    }

    @include media-query("lg") {
      flex-direction: column;
      max-width: 70ch;

      > * + * {
        margin-top: get-size("600");
      }
    }
  }
}
