// First up: config and functions
@import "config";

// Set Gorko to output no CSS for this file
$outputTokenCSS: false;

// Next: pull in gorko for design tokens
@import "../../node_modules/gorko/gorko.scss";

@import "utilities/visually-hidden";

@include media-query("md") {
  .page-home .site-head__brand {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
}

@keyframes slideIn {
  from {
    background-position: top left, bottom right;
  }
  to {
    background-position: top right, bottom left;
  }
}

.bg--home.loaded {
  background-image: url("/images/bg_home--right@1x.png"),
    url("/images/bg_home--left@1x.png");
  background-position: top right, bottom left;
  background-size: 1200px;
  animation: slideIn ease 0.5s;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url("/images/bg_home--right@2x.png"),
      url("/images/bg_home--left@2x.png");
  }
}

.home {
  padding: get-size("300") 0 get-size("800");

  @include media-query("md") {
    max-width: 700px;
  }

  @include media-query("xxl") {
    max-width: 900px;
  }

  &__intro,
  &__title,
  &__subtitle,
  &__cta {
    font-size: get-size("500");

    @include media-query("md") {
      font-size: get-size("600");
    }

    @include media-query("xxl") {
      font-size: get-size("700");
    }
  }
}

// .home-video {
//   object-fit: cover;
//   width: 100vw;
//   height: 100vh;
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 1;
//   transition: all 1.5s;
//
//   &--finished {
//     opacity: 0;
//     z-index: 0;
//   }
// }
