// First up: config and functions
@import 'config';

// Set Gorko to output no CSS for this file
$outputTokenCSS: false;

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

.home {
  display: flex;
  align-items: center;

  @media (min-width: 600px) and (min-height: 700px) {
background: pink;
    // TODO change pixel value when height of footer and header is known;
    // Header = 121px
    // Footer = 101px
    height: calc(100vh - 222px); // 100vh minus the height of the footer + height of the header. Heights based on content + padding totals
  }

  padding: get-size('800') 0;

  @include media-query('md') {
    max-width: 600px;
  }

  @include media-query('xl') {
    max-width: 900px;
  }

  &__title, 
  &__subtitle,
  &__cta  {
    font-size: get-size('600');

    @include media-query('xl') {
      font-size: get-size('700');
    }
  }
}