// First up: config and functions
@import "config";

// Set Gorko to output no CSS for this file
$outputTokenCSS: false;

// Next: pull in Gorko for design tokens
@import "../../node_modules/gorko/gorko.scss";

// Pull in blocks
@import "blocks/work-featured";
@import "blocks/work-details";
@import "blocks/work-gallery";
@import "blocks/work-pagination";

.bg-work--engenuiti {
  background: linear-gradient(1.17deg, #7361f5 1%, #fffff9 83.51%);
}

.bg--work-landing {
  // Small screens
  //   background-image: url("/images/bg_work--sm.jpg");
  //
  //   @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  //     background-image: url("/images/bg_work--sm@2x.jpg");
  //   }

  // Medium screens
  //   @include media-query("md") {
  //     background-image: url("/images/bg_work--med.jpg");
  //
  //     @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  //       background-image: url("/images/bg_work--med@2x.jpg");
  //     }
  //   }

  // Large screens
  @include media-query("lg") {
    background-size: contain;

    background-image: url("/images/bg_work-landing--top--lrg.jpg"),
      url("/images/bg_work-landing--btm--lrg.jpg");
    background-position: top left, bottom left;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url("/images/bg_work-landing--top--lrg@2x.jpg"),
        url("/images/bg_work-landing--btm--lrg@2x.jpg");
      background-position: top left, bottom left;
    }
  }
}

.work-listing {
  margin-top: get-size("major");
  display: grid;
  grid-gap: var(--auto-grid-gap, get-size("900"))
    var(--auto-grid-gap, get-size("500"));
  grid-template-columns: 1fr;

  @include media-query("md") {
    grid-template-columns: repeat(2, 1fr);
  }

  &__summary {
    margin-bottom: get-size("500");
  }
}
