// First up: config and functions
@import "config";

// Set Gorko to output no CSS for this file
$outputTokenCSS: false;

// Next: pull in Gorko for design tokens
@import "../../node_modules/gorko/gorko.scss";

// Pull in blocks
@import "blocks/work-featured";
@import "blocks/work-details";
@import "blocks/work-gallery";
@import "blocks/work-pagination";

.work-item {
  background: green;
}

.work-listing {
  background: palevioletred;
  margin-top: get-size("major");
  display: grid;
  grid-gap: var(--auto-grid-gap, get-size("900"))
    var(--auto-grid-gap, get-size("500"));
  grid-template-columns: 1fr;

  @include media-query("md") {
    grid-template-columns: repeat(2, 1fr);
  }

  &__summary {
    margin-bottom: get-size("500");
  }
}
