{% set linkURL= "mailto:" ~ site.email %}
{% set linkText = "Email us" %}
<li>{% include "partials/link.njk" %}</li>

{% set linkURL= "tel:" ~ site.phone %}
{% set linkText = "Call us" %}
<li>{% include "partials/link.njk" %}</li>

{% set linkURL= site.calendy %}
{% set linkText = "Book a meeting" %}
{% set linkExtras = "target=_blank rel=noreferrer" %}
<li>{% include "partials/link.njk" %}</li>