{% set ctaPrefix = cta %}

{% if ctaContent %} 
  {% set ctaPrefix = ctaContent %}
{% endif %}

<article class="[ cta ] [ panel ]">
  <div class="wrapper">
    <div class="[ cta__inner ] [ flow ]">
      <h2 class="[ cta__heading ] [ headline ]">{{ ctaPrefix.title }}</h2>
      <p class="[ cta__summary ] [ measure-short ] [ font-header-light ]">{{ ctaPrefix.summary }} <a class="font-header-med" href="{{ ctaPrefix.buttonUrl }}">{{ ctaPrefix.buttonText }}</a></p>
    </div>
  </div>
</article>
