<div class="text-link-wrap {% if linkTheme %}{{ linkTheme }}{% endif %}">
  <a {% if linkExtras %}{{ linkExtras }}{% endif %} href="{{ linkURL }}" {{ linkData }} {% if linkClass %}class="{{ linkClass }}"{% endif %}>{{ linkText }}</a>
  <div class="text-link-line"></div>
</div>