{% if peopleItems %}
<div class="people animate__animated animate__fadeIn animate__delay-1s animate__faster">
  <ol class="people__grid">
    {% for item in peopleItems %}
    <li>
      <figure class="[ person ] [ flow flow-space-300 ]">
        <img 
          class="[ person__image ]"
          srcset="
            {{ site.cloudURL }}/c_scale,w_200/{{ item.data.image }}.png,
            {{ site.cloudURL }}/c_scale,w_400/{{ item.data.image }}.png 2x"
          src="
            {{ site.cloudURL }}/c_scale,w_400/{{ item.data.image }}.png"
          alt="
            Image of {{ item.data.name }}"
          draggable="false"
        >
        <figcaption class="[ person__details ] [ flow flow-space-300 ] [ leading-tight ]">
          <h2 class="[ person__name ]">{{ item.data.name }}</h2>
          {% if item.data.title %}
            <div class="[ person__title ] [ weight-bold ]">{{ item.data.title }}</div>
          {% endif %}
          <div class="[ person__bio ]">{{ item.data.bio }}</div>
        </figcaption>
      </figure>
    </li>
    {% endfor %}
  </ol>
</div>
{% endif %}