{% if peopleItems %}
<div class="people">
  <ol class="people__grid">
    {% for item in peopleItems %}
    <li>
      <figure class="[ person ] [ flow flow-space-300 ]">
        <img
          class="[ person__image ]"
          src="{{ item.data.image }}"
          alt="Image of {{ item.data.name }}"
          draggable="false"
        />
        <figcaption class="[ person__details ] [ flow flow-space-300 ] [ leading-tight ]">
          <div class="[ person__name ] [ font-header-reg ]">{{ item.data.name }}</div>
          <div class="[ person__title ] [ weight-bold ]">{{ item.data.title }}</div>
          <div class="[ person__bio ]">{{ item.data.bio }}</div>
        </figcaption>
      </figure>
    </li>
    {% endfor %}
  </ol>
</div>
{% endif %}