<footer role="contentinfo" class="site-foot">

  <div class="wrapper">

    <div class="[ site-foot__inner ] [ text-300 font-header-reg ]">

      <div class="[ site-foot__inner__contacts ]">
        {% include "partials/nav-secondary.njk" %}
      </div>
  
      <div class="[ site-foot__inner__social ]">
        {% include "partials/nav-social.njk" %}
      </div>

    </div>
    
  </div>

</footer>