<footer role="contentinfo" class="site-foot">

  <div class="wrapper">

    <div class="[ site-foot__inner ] [ text-300 font-header-reg ]">

      <ul class="[ site-foot__inner__contacts ]">
        {% include "partials/contacts__list.njk" %} 
      </ul>

      <p class="site-foot__inner__location">Based in Frome and London</p>
  
      <ul class="[ site-foot__inner__social ]">
        <li><a href="{{ site.twitter }}"><span class="visually-hidden">Visit our Twitter profile</span> {% include "partials/twitter.svg" %}</a></li>
        <li><a href="{{ site.instagram }}"><span class="visually-hidden">Visit our Instagram profile</span> {% include "partials/instagram.svg" %}</a></li>
        <li><a href="{{ site.linkedin }}"><span class="visually-hidden">Visit our LinkedIn profile</span> {% include "partials/linkedin.svg" %}</a></li>
      </ul>

    </div>
    
  </div>

</footer>