{% set pageHeaderTitle = workTitle %} 
{% set workDetailsSummary = workQuote %}
{% set workDetailsCo = workQuoteSource %}
{% set workDetailsURL = workURL %}
{% set workDetailsSite = workWeb %}

{% include "partials/page-header.njk" %}

<article class="[ panel ]">

  <div class="[ work-details ] [ wrapper ]">

    <div class="[ work-description ]">

      <blockqoute class="work-description__quote">
        <p>{{ workDetailsSummary }}</p>
      </blockqoute>

      <div class="work-description__services">
        <ul class="work-description__list">
          {% for item in workServices %}
            <li>
              <span>{{ item.service }}</span>
            </li>
          {% endfor %}
        </ul>
      </div>

    </div>

    <div class="work-description__company">
      <div>
        {{ workDetailsCo }}
      </div>
      <div class="work-description__website">
        <a href="{{ workDetailsURL }}">{{ workDetailsSite }}</a>
      </div>
    </div>
    
  </div>

</article>