<article class="[ work-gallery ] [ flow flow-space-800 ]">
  {% for item in gallery %}
    <figure class="[ {% if item.style %}{{ item.style }}{% else %}work-gallery__item{% endif %} ]">

      {% set imageURL = item.image %}
      {% set imageAlt = item.imageAlt %}
      {% set imageTitle = item.title %}

      {% set image2400 = item.image2400 %}
      {% set image1200 = item.image1200 %}
      {% set image1990 = item.image1990 %}
      {% set image995  = item.image995 %}
      {% set image600  = item.image600 %}
      {% set image375  = item.image375 %}
      {% set image750  = item.image750 %}
      {% include "partials/work-gallery__img.njk" %}

      {% if item.imageSecond %}
        {% set imageURL = item.imageSecond %}
        {% set imageAlt = item.imageSecondAlt %}
        {% set imageTitle = item.titleSecond %}
        {% include "partials/work-gallery__img.njk" %}
      {% endif %}

    </figure>
  {% endfor %}
</article>