{% set cloudQ = "q_60" %}

<picture>
  <!-- Small screens -->
    <!-- WebP -->
  <source 
    srcset="
    {{ site.cloudURL }}/c_scale,w_375/{{ cloudQ }}/{{ imageSquare }}.webp 375w, 
    {{ site.cloudURL }}/c_scale,w_750/{{ cloudQ }}/{{ imageSquare }}.webp 2x" 
    media="(min-width: 0) and (max-width: 399px)" type="image/webp">
  <!-- JPG -->
  <source 
    srcset="{{ site.cloudURL }}/c_scale,w_375/{{ cloudQ }}/{{ imageSquare }}.jpg 375w, 
    {{ site.cloudURL }}/c_scale,w_750/{{ cloudQ }}/{{ imageSquare }}.jpg 2x" 
    media="(min-width: 0) and (max-width: 399px)" type="image/jpeg">

  <!-- Mini screens -->
    <!-- WebP -->
  <source 
    srcset="{{ site.cloudURL }}/c_scale,w_600/{{ cloudQ }}/{{ imageRectangle }}.webp 600w,
    {{ site.cloudURL }}/c_scale,w_1200/{{ cloudQ }}/{{ imageRectangle }}.webp 2x" 
    media="(min-width: 400px) and (max-width: 767px)" type="image/webp">
   <!-- JPG --> 
  <source 
    srcset="{{ site.cloudURL }}/c_scale,w_600/{{ cloudQ }}/{{ imageRectangle }}.jpg 600w, 
    {{ site.cloudURL }}/c_scale,w_1200/{{ cloudQ }}/{{ imageRectangle }}.jpg 2x" 
    media="(min-width: 400px) and (max-width: 767px)" type="image/jpeg">

  <!-- Medium screens -->
    <!-- WebP -->
  <source 
    srcset="{{ site.cloudURL }}/c_scale,w_1020/{{ cloudQ }}/{{ imageRectangle }}.webp 1020w,
    {{ site.cloudURL }}/c_scale,w_2040/{{ cloudQ }}/{{ imageRectangle }}.webp 2x" 
    media="(min-width: 768px) and (max-width: 1150px)" type="image/webp">
  <!-- JPG -->
  <source 
    srcset="{{ site.cloudURL }}/c_scale,w_1020/{{ cloudQ }}/{{ imageRectangle }}.jpg 1020w, 
    {{ site.cloudURL }}/c_scale,w_2040/{{ cloudQ }}/{{ imageRectangle }}.jpg 2x" 
    media="(min-width: 768px) and (max-width: 1150px)" type="image/jpeg">

  <!-- Large screens -->
    <!-- WebP -->
  <source 
    srcset="{{ site.cloudURL }}/c_scale,w_2400/{{ cloudQ }}/{{ imageRectangle }}.webp 1200w, 
    {{ site.cloudURL }}/c_scale,w_2400/{{ cloudQ }}/{{ imageRectangle }}.webp 2x"
    media="(min-width: 1151px)" type="image/webp">
    <!-- JPG -->
    <source 
    srcset="{{ site.cloudURL }}/c_scale,w_2400/{{ cloudQ }}/{{ imageRectangle }}.jpg 1200w, 
    {{ site.cloudURL }}/c_scale,w_2400/{{ cloudQ }}/{{ imageRectangle }}.jpg 2x"
    media="(min-width: 1151px)" type="image/jpeg">
  
  <!-- Fallback / properties -->
  <img src="{{ site.cloudURL }}/c_scale,w_2400/{{ cloudQ }}/{{ imageRectangle }}.jpg" 
    alt="{{ imageAlt }}"
    aria-hidden="true"
    lazy="true"
  >
</picture>