<div>
  <div class="[ work-gallery__media ]">
    <img src="{{ imageURL }}" alt="{{ imageAlt }}" aria-hidden="true" />
  </div>
  
  <figcaption class="[ work-gallery__content ]">
    <h2 class="[ work-gallery__heading ] [ font-base text-400 ]">
      {{ imageTitle }}
    </h2>
  </figcaption>
</div>