<article class="[ panel ]">
  <div class="wrapper">

    <div class="[ work-description ]">

      <blockqoute class="work-description__quote">
        <p>12/16 - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
      </blockqoute>

      <div class="work-description__services">
        <ul>
          <li>Art Direction</li>
          <li>Art Direction</li>
          <li>Art Direction</li>
          <li>Art Direction</li>
          <li>Art Direction</li>
        </ul>
    
        <ul>
          <li>Art Direction</li>
          <li>Art Direction</li>
          <li>Art Direction</li>
          <li>Art Direction</li>
          <li>Art Direction</li>
        </ul>
      </div>

    </div>

    <div class="work-description__company">
      <div>
        <cite>Ron Davidson, CEO</cite>
      </div>
      <div>
        <a href="">website.com</a>
      </div>
    </div>
    
  </div>

</article>