<article class="[ work-gallery ] [ flow flow-space-800 ] [ animate__animated animate__slideInUp animate__faster ]">
  {% for item in gallery %}
    <figure class="[ {% if item.style %}{{ item.style }}{% else %}work-gallery__item{% endif %} ]">

      {% set imageTitle = item.title %}
      {% set imageRectangle = item.imageRectangle %}
      {% set imageSquare = item.imageSquare %}
      
      <div>
        <div class="[ work-gallery__media ]">
          {% include "partials/work-img.njk" %}
        </div>
        
        <figcaption class="[ work-gallery__content ]">
          <h2 class="[ work-gallery__heading ] [ font-base text-400 ]">
            {{ imageTitle }}
          </h2>
        </figcaption>
      </div>

      {% if item.imageSecond %}
        {% set imageURL = item.imageSecond %}
        {% set imageAlt = item.imageSecondAlt %}
        {% set imageTitle = item.titleSecond %}
        {% include "partials/work-img.njk" %}
      {% endif %}

    </figure>
  {% endfor %}
</article>