<div class="[ panel ]">
  <div class="[ work-pagination ] [ wrapper ]">

    <div class="work-pagination__items">

      {% for item in paginationPrev %}
        <div>
          <small>Previous Project</small>
          {% set linkURL= item.prevLink %}
          {% set linkText = item.prevTitle %}
          {% set linkTheme = "links-pagination" %}
          {% include "partials/link.njk" %}
        </div>
      {% endfor %}

      {% for item in paginationNext %}
        <div class="work-pagination__items__next">
          <small>Next Project</small>
          {% set linkURL= item.nextLink %}
          {% set linkText = item.nextTitle %}
          {% set linkTheme = "links-pagination" %}
          {% include "partials/link.njk" %}
        </div>
      {% endfor %}

    </div>
  </div>
</div>