{% set cloudQ = "q_60" %}

<picture>
  <!-- Small screens -->
    <!-- WebP -->
  <source 
    srcset="
    {{ site.cloudURL }}/c_scale,w_439/{{ cloudQ }}/{{ item.data.hero.image }}.webp 439w, 
    {{ site.cloudURL }}/c_scale,w_878/{{ cloudQ }}/{{ item.data.hero.image }}.webp 2x" 
    media="(min-width: 0) and (max-width: 499px)" type="image/webp">
  <!-- JPG -->
  <source 
    srcset="{{ site.cloudURL }}/c_scale,w_439/{{ cloudQ }}/{{ item.data.hero.image }}.jpg 439w, 
    {{ site.cloudURL }}/c_scale,w_878/{{ cloudQ }}/{{ item.data.hero.image }}.jpg 2x" 
    media="(min-width: 0) and (max-width: 499px)" type="image/jpeg">

  <!-- Medium screens -->
    <!-- WebP -->
  <source 
    srcset="{{ site.cloudURL }}/c_scale,w_710/{{ cloudQ }}/{{ item.data.hero.image }}.webp 710w,
    {{ site.cloudURL }}/c_scale,w_1420/{{ cloudQ }}/{{ item.data.hero.image }}.webp 2x" 
    media="(min-width: 500px) and (max-width: 767px)" type="image/webp">
  <!-- JPG -->
  <source 
    srcset="{{ site.cloudURL }}/c_scale,w_710/{{ cloudQ }}/{{ item.data.hero.image }}.jpg 710w, 
    {{ site.cloudURL }}/c_scale,w_1420/{{ cloudQ }}/{{ item.data.hero.image }}.jpg 2x" 
    media="(min-width: 500px) and (max-width: 767px)" type="image/jpeg">

  <!-- Large screens -->
    <!-- WebP -->
  <source 
    srcset="{{ site.cloudURL }}/c_scale,w_500/{{ cloudQ }}/{{ item.data.hero.image }}.webp 500w, 
    {{ site.cloudURL }}/c_scale,w_1000/{{ cloudQ }}/{{ item.data.hero.image }}.webp 2x"
    media="(min-width: 768px)" type="image/webp">
    <!-- JPG -->
    <source 
    srcset="{{ site.cloudURL }}/c_scale,w_500/{{ cloudQ }}/{{ item.data.hero.image }}.jpg 500w, 
    {{ site.cloudURL }}/c_scale,w_1000/{{ cloudQ }}/{{ item.data.hero.image }}.jpg 2x"
    media="(min-width: 768px)" type="image/jpeg">
  
  <!-- Fallback / properties -->
  <img src="{{ site.cloudURL }}/c_scale,w_1000/{{ cloudQ }}/{{ item.data.hero.image }}.jpg" 
    alt="{{ imageAlt }} - preview thumbnail image"
    aria-hidden="true"
    lazy="true"
  >
</picture>