{% set cloudURL = "https://res.cloudinary.com/curiousways/image/upload" %}
{% set cloudQ = "q_60" %}

<div>
  <div class="[ work-gallery__media ]">

    <picture>
      <!-- Small screens -->
        <!-- WebP -->
      <source 
        srcset="
        {{ cloudURL }}/c_scale,w_375/{{ cloudQ }}/{{ imageSquare }}.webp 375w, 
        {{ cloudURL }}/c_scale,w_750/{{ cloudQ }}/{{ imageSquare }}.webp 2x" 
        media="(min-width: 0) and (max-width: 399px)" type="image/webp">
      <!-- JPG -->
      <source 
        srcset="{{ cloudURL }}/c_scale,w_375/{{ cloudQ }}/{{ imageSquare }}.jpg 375w, 
        {{ cloudURL }}/c_scale,w_750/{{ cloudQ }}/{{ imageSquare }}.jpg 2x" 
        media="(min-width: 0) and (max-width: 399px)" type="image/jpeg">

      <!-- Mini screens -->
        <!-- WebP -->
      <source 
        srcset="{{ cloudURL }}/c_scale,w_600/{{ cloudQ }}/{{ imageRectangle }}.webp 600w,
        {{ cloudURL }}/c_scale,w_1200/{{ cloudQ }}/{{ imageRectangle }}.webp 2x" 
        media="(min-width: 400px) and (max-width: 767px)" type="image/webp">
       <!-- JPG --> 
      <source 
        srcset="{{ cloudURL }}/c_scale,w_600/{{ cloudQ }}/{{ imageRectangle }}.jpg 600w, 
        {{ cloudURL }}/c_scale,w_1200/{{ cloudQ }}/{{ imageRectangle }}.jpg 2x" 
        media="(min-width: 400px) and (max-width: 767px)" type="image/jpeg">

      <!-- Medium screens -->
        <!-- WebP -->
      <source 
        srcset="{{ cloudURL }}/c_scale,w_995/{{ cloudQ }}/{{ imageRectangle }}.webp 995w,
        {{ cloudURL }}/c_scale,w_1990/{{ cloudQ }}/{{ imageRectangle }}.webp 2x" 
        media="(min-width: 768px) and (max-width: 1150px)" type="image/webp">
      <!-- JPG -->
      <source 
        srcset="{{ cloudURL }}/c_scale,w_995/{{ cloudQ }}/{{ imageRectangle }}.jpg 995w, 
        {{ cloudURL }}/c_scale,w_1990/{{ cloudQ }}/{{ imageRectangle }}.jpg 2x" 
        media="(min-width: 768px) and (max-width: 1150px)" type="image/jpeg">

      <!-- Large screens -->
        <!-- WebP -->
      <source 
        srcset="{{ cloudURL }}/c_scale,w_2400/{{ cloudQ }}/{{ imageRectangle }}.webp 1200w, 
        {{ cloudURL }}/c_scale,w_2400/{{ cloudQ }}/{{ imageRectangle }}.webp 2x"
        media="(min-width: 1151px)" type="image/webp">
        <!-- JPG -->
        <source 
        srcset="{{ cloudURL }}/c_scale,w_2400/{{ cloudQ }}/{{ imageRectangle }}.jpg 1200w, 
        {{ cloudURL }}/c_scale,w_2400/{{ cloudQ }}/{{ imageRectangle }}.jpg 2x"
        media="(min-width: 1151px)" type="image/jpeg">
      
      <!-- Fallback / properties -->
      <img src="{{ cloudURL }}/c_scale,w_2400/{{ cloudQ }}/{{ imageRectangle }}.jpg" 
        alt="{{ imageAlt }}"
        aria-hidden="true"
        lazy="true"
      >
    </picture>

  </div>
  
  <figcaption class="[ work-gallery__content ]">
    <h2 class="[ work-gallery__heading ] [ font-base text-400 ]">
      {{ imageTitle }}
    </h2>
  </figcaption>
</div>